
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    gap: 25px;
    background-image: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.7)
    );
}
/* welcome section */
#welcome {
    margin-top: 100px;
    text-align: center;
}

#welcome h1 {
    font-size: 60px;
    margin-bottom: 10px;
    font-weight: 300;
}

#welcome p {
    font-size: 18px;
    opacity: 0.8;
}

/* SEARCH BAR */
#header {
    margin-top: 20px;
    display: flex;
    gap: 12px;
    align-items: center;
}

#search-btn {
    border: none;
    border-radius: 25px;
    padding: 14px 22px;
    background: rgba(255,255,255,0.18);
    color: white;
    font-size: 16px;
    cursor: pointer;
    backdrop-filter: blur(8px);
    transition: 0.3s ease;
}

#search-btn:hover {
    background: rgba(255, 255, 255, 0.15);
    transform: translateY(-2px); /*actually u can use GSAP for that*/
}

#input {
    background: rgba(255,255,255,0.15);
    border: none;
    border-radius: 25px;
    padding: 14px 20px;
    font-size: 18px;
    color: white;
    outline: none;
    backdrop-filter: blur(8px);
    width: 320px;
}

#input::placeholder {
    color: rgba(255,255,255,0.7);
}

/* GLASS WEATHER CARD */
#weather-card {
    display: none;
    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 25px;
    width: 300px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/* CITY + DATE */
#city {
    color: white;
    font-size: 32px;
    margin: 0;
}

#date {
    color: rgba(255,255,255,0.8);
    font-size: 16px;
}

/* TEMPERATURE */
#temperature {
    font-size: 80px;
    color: white;
    margin: 10px 0;
    font-weight: bold;
}

#feelsLike,
#conditions,
#variations {
    color: rgba(255,255,255,0.9);
    font-size: 18px;
    margin: 5px 0;
}

/* FORECAST */
#forecast {
    display: none;
    display: flex;
    justify-content: center;
    gap: 13px;
    flex-wrap: wrap;
}

.card {
    background: rgba(255,255,255,0.15);
    padding: 15px;
    border-radius: 15px;
    width: 90px;
    text-align: center;
    color: white;
    backdrop-filter: blur(8px);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    background: rgba(255,255,255,0.25);
}

.card h3 {
    margin: 0;
    font-size: 16px;
}
/* the section of default city  */
#featured {
    margin-top: 30px;
    padding: 20px;

    background: rgba(255,255,255,0.12);

    border-radius: 20px;

    backdrop-filter: blur(10px);

    width: 280px;

    margin-left: auto;
    margin-right: auto;
}

#featured h2 {
    margin-top: 0;
    font-size: 20px;
}

#featured-city {
    font-size: 28px;
    font-weight: bold;
}

#featured-temp {
    font-size: 42px;
    margin: 10px 0;
}

#featured-condition {
    font-size: 18px;
    opacity: 0.9;
}


/* animation */
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(
        -45deg,
        #1e3c72,
        #2a5298,
        #4facfe,
        #00f2fe
    );

    background-size: 400% 400%;

    animation: gradient 15s ease infinite;

    color: white;
}

@keyframes gradient {

    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
/* mobile */
@media all and (max-width: 800px) {

    #container {
        padding: 15px;
        gap: 15px;
    }

    #input, #search-btn {
        width: 90%;
        max-width: 320px;
        box-sizing: border-box;
        /* font-size: 16px;
        padding: 12px; */
    }

    #weather-card, #featured {
        width: 100%;
        min-width: 350px;
        padding: 20px;
        border-radius: 25px;
        box-sizing: border-box;
    }

    #city {
        font-size: 22px;
    }
    #temperature {
        font-size: 64px;
    }

    #conditions {
        font-size: 18px;
    }

    #forecast {
        gap: 8px;
        padding: 10px;
    }

    .card {
        width: 70px;
        min-height: 110px;
        padding: 10px;
        font-size: 13px;
    }

    #welcome {
        margin-top: 50px;
    }

    #welcome h1 {
        font-size: 40px;
    }

    #welcome p {
        font-size: 13px;
        padding: 0 10px;
    }

    #header {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

}

